/* 스크롤바 */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000033;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input {
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
}

input::placeholder {
  font-size: inherit;
  font-family: inherit;
}

select {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}